/* ================================
   RESET Y BASE
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@font-face {
  font-family: "Sketsa";
  src: url(fonts/Sketsa.ttf);
}

@font-face {
  font-family: "Saudagar";
  src: url(fonts/Saudagar.ttf);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #fff;
  height: 100%;
}

/* ================================
   LAYOUT BASE CON SCROLL
================================ */
body.index-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}

main {
  flex: 1 0 auto;
  padding: 1.5rem;
}



/* ================================
           NAVIGATION
================================ */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-menu .nav-item {
  margin: 0 15px;
}

.nav-menu .nav-link {
  font-size: 14px;
  color: #ffffff !important;
  font-weight: 300;
  text-transform: uppercase;
}

.nav-menu .nav-link:hover,
.nav-menu .nav-link.active {
  color: rgb(255, 0, 140) !important;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

/* ================================
         SECCION SERV
================================ */
section:first-of-type {
  margin-top: 5rem;
}

section {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin: 3rem auto;
  padding: 1rem 3rem 3rem;
  background-color: rgba(4, 3, 3, 0.9);
  border-radius: 10px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f39c12;
  text-align: center;
  margin-top: 40px;
}

section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ddd;
  text-align: center;
}

/* ================================
       ESTILOS RESPONSIVOS
================================ */
@media (max-width: 768px) {
  html,
  body {
    height: auto;
    display: block;
  }

  main {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .footer {
    height: 45px;
    font-size: 12px;
    background-color: #ae3a3a;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
