/* ================================
            RESET Y BASE
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

body.index-page {
    overflow-y: auto;
}

/* ================================
          TIPOGRAFÍAS PERSONALIZADAS
================================ */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@font-face {
    font-family: "Sketsa";
    src: url(fonts/Sketsa.ttf);
}

@font-face {
    font-family: "Saudagar";
    src: url(fonts/Saudagar.ttf);
}

/* ================================
           NAVIGATION
================================ */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.3s;
    text-align: center;
}

.bar-btn {
    font-size: 25px;
    color: #fff; 
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 5px;
    display: none;
}

.nav-menu {
    display: inline-block;
    text-align: center;
    z-index: 1001;
    position: relative;
}

.nav-menu li {
    display: inline-block;
    margin: 0 20px;
}

.nav-menu li a {
    font-size: 12px;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
}

.nav-menu li a:hover,
.nav-menu li a.active {
    color: rgb(255, 0, 140);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu li {
    display: block;
}

/* ================================
         SECCION SERV
================================ */

/* Secciones de servicios */

section:first-of-type {
  margin-top: 5rem;
}

section {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin: 3rem auto;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(4, 3, 3, 0.9);
  border-radius: 10px;
}

/* Estilo de títulos */
section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f39c12;
  text-align: center;
  margin-top: 40px;
} 


/* Estilo de párrafos */
section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ddd;
  text-align: center;
}


/* ================================
         VIDEO DE FONDO
================================ */


.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
    z-index: 0;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive */
@media (max-width: 768px) {
  section {
    margin: 2rem 1rem;
    padding: 1.5rem;
  }

  section h2 {
    font-size: 1.5rem;
  }

  section p {
    font-size: 0.95rem;
  }
}




